<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="container my-3">
		<table class="table">
			<thead class="table-dark">
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>작성일시</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="board, Loop :${notice}">
					<td><a th:href="@{|/board/detail/${notice.id}|}"
						   th:text="${notice.title}"></a></td>
					<td
						th:text="${#temporals.format(notice.createdate, 'yyyy-MM-dd HH:mm')}"></td>
				</tr>
			</tbody>
		</table>

		<a href="/min/notice/create">작성하기</a>
</body>
</html>