<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" th:href="@{/}">모음</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#" th:href="@{/gimminu/gimminuindex}">김민우</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/honghyeonji/notice/readlist}">홍현지</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/minyeonghyeon/notice/board}">민영현</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/sunghyun/notice/readlist}">김성현</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/contact}">이름 적고 경로 수정</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/contact}">이름 적고 경로 수정</a>
            </li>
        </ul>
    </div>
</nav>