<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <td>번호</td>
        <td>제목</td>
        <td>날짜</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="notice, loop :${notices}">
        <td th:text="${loop.count}"></td>
        <td><a th:href="@{|/notice/readdetail/${notice.id}|}" th:text="${notice.title}"></a></td>
        <td th:text="${#temporals.format(notice.date, 'yyyy-MM-dd HH:mm')}"></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/notice/create}">글 등록</a>
</body>
</html>