<!DOCTYPE html>
<html layout:decorate="~{layout}">
<nav th:replace="~{navbar :: navbarFragment}"></nav>
<div layout:frament="content">
<form action="/honghyeonji/notice/update" method="post">
    <input type="hidden" name="id" th:value="${notice.id}">
    <input type="hidden" name="date" th:value="${notice.date}">
    <p>
        제목: <input type="text" name="title" th:value="${notice.title}">
    </p>
    <p>
        내용:<input type="text" name="content" th:value="${notice.content}">
    </p>
    <p><input type="submit" value="수정"></p>
</form>
</div>>
</html>