<!DOCTYPE html>
<html layout:decorate="~{layout}">
<nav th:replace="~{navbar :: navbarFragment}"></nav>
<div layout:fragment="content">
	<h1 th:text="${notice.id}"></h1>
	<h1 th:text="${notice.title}"></h1>
	<h1 th:text="${notice.content}"></h1>
	<img th:src="|${downpath}/${notice.image1}|" height="100px">
	<img th:src="|${downpath}/${notice.image2}|" height="100px">
	<img th:src="|${downpath}/${notice.image3}|" height="100px">
	<h6 th:text="${#temporals.format(notice.createdate, 'yyyy-MM-dd HH:mm')}"></h6>
	
	<a th:href="@{|/minyeonghyeon/notice/delete/${notice.id}|}">삭제</a>
	<a th:href="@{|/minyeonghyeon/notice/update/${notice.id}|}">수정</a>
</div>>
</html>